<h1>Stupid Coaching</h1>
<div class="mb-12">
  <h6>You:</h6>
  <div><%= @question %></div>
</div>
<div class="mb-12">
  <h6>Your coach:</h6>
  <div><%= @answer %></div>
</div>
<div><%= link_to "Ask antoher question", "/ask" %></div>
